.container__main{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(255, 174, 174);
}
.col-75{
  flex: 75%;
  background-color: rgb(255, 135, 135);
}

.col-50{
  flex: 50;
}
input[type="text"], input[type="email"], input[type="endereço"], input[type="cidade"], input[type="estado"], input[type="cep"], input[type="nomecartao"], input[type="numerocartao"], input[type="mesexpiracao"]{
  width: 75%;
  padding: 12px;
  border: 1px solid #8b2424;
  border-radius: 3px;
  margin-bottom: 20px;
}
.col-25{
  width: 25%;
  background-color: rgb(255, 233, 233);
}
label{
  display: block;
  margin-bottom: 5px; 
}
input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: rgb(179, 82, 82);
  align-items: center;
}